.hero {
    height: 550px;
    background: linear-gradient(135deg, #1565C0, #42A5F5);
    display: flex;
    align-items: center;
    color: white;
}

.hero-content {

    max-width: 650px;

}

.hero h1 {

    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;

}

.hero p {

    font-size: 22px;
    margin-bottom: 30px;

}

.hero button {

    padding: 15px 45px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: .3s;

}

.hero button:hover {

    transform: translateY(-4px);

}


.categories {

    margin-top: 80px;
    margin-bottom: 80px;

}

.categories h2 {

    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;

}

.category-card {

    background: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: .35s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    margin-bottom: 25px;

}

.category-card:hover {

    transform: translateY(-10px);

}

.category-card mat-icon {

    font-size: 55px;
    width: 55px;
    height: 55px;
    color: #1565C0;
    margin-bottom: 20px;

}

.category-card h5 {

    font-weight: 600;

}


.featured {

    margin-bottom: 90px;

}

.featured h2 {

    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;

}

mat-card {

    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: .35s;
    margin-bottom: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);

}

mat-card:hover {

    transform: translateY(-10px);

}

mat-card img {

    height: 250px;
    object-fit: cover;

}

mat-card-content {

    padding: 20px;

}

mat-card-content h5 {

    font-weight: 600;

}

mat-card-content h3 {

    color: #1565C0;
    font-weight: bold;
    margin-top: 15px;

}

mat-card-actions {

    padding: 20px;

}

mat-card-actions button {

    width: 100%;
    border-radius: 50px;

}



@media(max-width:992px) {

    .hero {

        text-align: center;
        height: auto;
        padding: 90px 0;

    }

    .hero h1 {

        font-size: 42px;

    }

    .hero p {

        font-size: 18px;

    }

}