.admin-layout{

display:flex;

min-height:100vh;

background:#f4f7fb;

}

.sidebar{

width:260px;

background:#0D47A1;

color:white;

padding:30px 20px;

}

.logo{

display:flex;

align-items:center;

gap:10px;

font-size:22px;

font-weight:bold;

margin-bottom:40px;

}

.sidebar ul{

list-style:none;

padding:0;

}

.sidebar li{

display:flex;

align-items:center;

gap:12px;

padding:15px;

margin-bottom:10px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.sidebar li:hover{

background:rgba(255,255,255,.15);

}

.content{

flex:1;

padding:40px;

}