<mat-toolbar color="primary" class="topbar">
  <div class="logo" routerLink="/">
    <mat-icon>memory</mat-icon>
    <span>Carvajal Tech</span>
  </div>

  <span class="spacer"></span>

  <div class="menu-links">
    <a *ngFor="let item of menu" [routerLink]="item.route" class="menu-link">{{ item.name }}</a>
  </div>

  <span class="spacer"></span>

  <ng-container *ngIf="isAuthenticated()">
    <button mat-icon-button routerLink="/wishlist">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menuUser">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menuUser="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        Mi Perfil
      </button>
      <button mat-menu-item routerLink="/wishlist">
        <mat-icon>favorite</mat-icon>
        Mi Lista de Deseos
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="!isAuthenticated()">
    <button mat-raised-button color="accent" routerLink="/login">Iniciar Sesión</button>
  </ng-container>
</mat-toolbar>
