<footer>
  <div class="container">
    <div class="row footer-top">
      <div class="col-lg-4 col-6">
        <div class="brand">
          <mat-icon>memory</mat-icon>
          <span>Carvajal Tech</span>
        </div>
        <p>Tu tienda especializada en hardware, periféricos y componentes para computadores.</p>
      </div>
      <div class="col-lg-4 col-6">
        <h3>Categorías</h3>
        <ul>
          <li>Teclados</li>
          <li>Mouse</li>
          <li>Monitores</li>
          <li>Procesadores</li>
          <li>Tarjetas gráficas</li>
        </ul>
      </div>
      <div class="col-lg-4 col-12">
        <h3>Contacto</h3>
        <ul class="contact-list">
          <li><mat-icon>location_on</mat-icon> Bogotá, Colombia</li>
          <li><mat-icon>mail</mat-icon> admin&#64;carvajaltech.com</li>
          <li><mat-icon>call</mat-icon> +57 300 123 4567</li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="copy">&copy; {{year}} Carvajal Tech. Todos los derechos reservados.</p>
  </div>
</footer>
