<footer>

    <div class="container">

        <div class="row">

            <div class="col-lg-4">

                <h2>

                    Carvajal Tech

                </h2>

                <p>

                    Tu tienda especializada en hardware, periféricos y componentes para computadores.

                </p>

            </div>

            <div class="col-lg-4">

                <h3>

                    Categorías

                </h3>

                <ul>

                    <li>Teclados</li>
                    <li>Mouse</li>
                    <li>Monitores</li>
                    <li>Procesadores</li>
                    <li>Tarjetas Gráficas</li>

                </ul>

            </div>

            <div class="col-lg-4">

                <h3>

                    Contacto

                </h3>

                <p>

                    📍 Bogotá, Colombia

                </p>

                <p>

                    📧 admin@carvajaltech.com

                </p>

                <p>

                    📞 +57
                <footer>

                    <div class="container">

                        <div class="row">

                            <div class="col-lg-4">

                                <h2>

                                    Carvajal Tech

                                </h2>

                                <p>

                                    Tu tienda especializada en hardware, periféricos y componentes para computadores.

                                </p>

                            </div>

                            <div class="col-lg-4">

                                <h3>

                                    Categorías

                                </h3>

                                <ul>

                                    <li>Teclados</li>
                                    <li>Mouse</li>
                                    <li>Monitores</li>
                                    <li>Procesadores</li>
                                    <li>Tarjetas Gráficas</li>

                                </ul>

                            </div>

                            <div class="col-lg-4">

                                <h3>

                                    Contacto

                                </h3>

                                <p>

                                    📍 Bogotá, Colombia

                                </p>

                                <p>

                                    📧 admin@carvajaltech.com

                                </p>

                                <p>

                                    📞 +57 300 123 4567

                                </p>

                            </div>

                        </div>

                        <hr>

                        <p class="copy">

                            © {{year}} Carvajal Tech - Todos los derechos reservados.

                        </p>

                    </div>

                </footer>

                </p>

            </div>

        </div>

        <hr>

        <p class="copy">

            © {{year}} Carvajal Tech - Todos los derechos reservados.

        </p>

    </div>

</footer>