<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="profile-card">
          <img src="assets/images/user.png">
          <h2>{{ user?.fullName }}</h2>
          <p>{{ user?.email }}</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="info-card">
          <h3>Mi Perfil</h3>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Nombre completo</mat-label>
                <input matInput [value]="user?.fullName" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [value]="user?.email" readonly>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
